*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0%;
    text-align: left;
    
}

#header{
    background: yellow;
}

nav{
    background: yellow;
    padding: 0.5%;
}

nav ul li{
    display: inline;
    padding: 2%;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    background: blue;
}

#agrupar{
    width: 90%;
    margin: 15px auto;
    text-align: left;
    border: 1px solid #000;
}

#cabecera{
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 20px;
}

#menu{
    background: #cccccc;
    padding: 5px 15px;
}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}

#seccion{
    float: left;
    width: 660px;
    margin: 70px;
    background-color: #e6e6e6 ;
}

#columna{
    float: left;
    width: 220px;
    margin: 70px 0px;
    padding: 20px;
    background: #cccccc;
}

#pie{
    clear: both;
    text-align: center;
    padding-top: 2px solid #999999;
}

article{
    background: #fffbcc;
    border: 1px solid #999999;
    padding-bottom: 15px; 
}

article footer{
    text-align: right;
}

time footer{
    color: #999999;
}

figcaption{
    font: italic 14px verdana sans-serif;
}

img{
    width: 600px;
    height: 400px;
}









